import { ConfigPlugin, withInfoPlist } from "@expo/config-plugins";

const withGooglePlist: ConfigPlugin = (config) => {
  return withInfoPlist(config, (config) => {
    config.modResults.CLIENT_ID = process.env.CLIENT_ID;
    config.modResults.REVERSED_CLIENT_ID = process.env.REVERSED_CLIENT_ID;
    config.modResults.API_KEY = process.env.API_KEY;
    config.modResults.GCM_SENDER_ID = process.env.GCM_SENDER_ID;
    config.modResults.BUNDLE_ID = process.env.BUNDLE_ID;
    config.modResults.PROJECT_ID = process.env.PROJECT_ID;
    config.modResults.STORAGE_BUCKET = process.env.STORAGE_BUCKET;
    config.modResults.GOOGLE_APP_ID = process.env.GOOGLE_APP_ID;

    config.modResults.PLIST_VERSION = "1";
    config.modResults.IS_ADS_ENABLED = false;
    config.modResults.IS_ANALYTICS_ENABLED = false;
    config.modResults.IS_APPINVITE_ENABLED = true;
    config.modResults.IS_GCM_ENABLED = true;
    config.modResults.IS_SIGNIN_ENABLED = true;

    return config;
  });
};

export default withGooglePlist;
